.container {
  gap: var(--spacing-xl);
}

.section {
  align-items: center;
}

.container,
.section {
  flex-direction: column;
}

.buttons {
  flex-wrap: wrap;
  gap: var(--spacing-m);
}

.container,
.section,
.buttons {
  display: flex;
}
