.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing-l);
  border: var(--border);
  border-radius: var(--spacing-l);
  background: var(--background);
  gap: var(--spacing-xl);
}

@media (width <= 1024px) {
  .container {
    padding: var(--spacing-m);
    gap: var(--spacing-l);
  }
}
