:root {
  --color-primary: var(--black);
  --background-primary: var(--white);

  --color-secondary: var(--white);
  --background-secondary: var(--black);
}

[data-theme="dark"] {
  --color-primary: var(--white);
  --background-primary: var(--black);

  --color-secondary: var(--black);
  --background-secondary: var(--white);
}

.container {
  color: var(--color);
  background: var(--background);

  border: var(--border);
  padding: var(--spacing-s) var(--spacing-m);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);

  transition: var(--transition);
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container:disabled {
  cursor: default;
}

.primary {
  --color: var(--color-primary);
  --background: var(--background-primary);
}

.secondary {
  --color: var(--color-secondary);
  --background: var(--background-secondary);
}

@media (hover: hover) {
  .primary:not(:disabled):hover {
    --color: var(--color-secondary);
    --background: var(--background-secondary);
  }

  .secondary:not(:disabled):hover {
    --color: var(--color-primary);
    --background: var(--background-primary);
  }
}

@media (hover: none) {
  .primary:not(:disabled):active {
    --color: var(--color-secondary);
    --background: var(--background-secondary);
  }

  .secondary:not(:disabled):active {
    --color: var(--color-primary);
    --background: var(--background-primary);
  }
}
