.container {
  width: 100%;
  min-width: 0;

  background: var(--background);

  border: var(--border);
  border-radius: var(--spacing-m);
  padding: var(--spacing-l) var(--spacing-l) var(--spacing-m) var(--spacing-l);

  gap: var(--spacing-m);

  text-decoration: none;
  transition: var(--transition);
  cursor: pointer;
}

.image {
  width: 100%;

  border-radius: var(--spacing-s);

  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.section {
  gap: var(--spacing-xs);
}

.titleContainer {
  align-items: center;
  gap: var(--spacing-s);
}

.container,
.section,
.titleContainer {
  display: flex;
}

.container,
.section {
  flex-direction: column;
}

.resources {
  fill: var(--content);
}

.title {
  color: var(--content);

  font-size: var(--fs-lg);
}

.description {
  color: var(--gray);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (hover: hover) {
  .container:hover {
    transform: translateY(var(--spacing-tr));
  }
}

@media (hover: none) {
  .container:active {
    transform: translateY(var(--spacing-tr));
  }
}
