.line {
  border-radius: var(--spacing-l);
  background: var(--content);
}

.vertical {
  width: var(--spacing-xs);
  align-self: stretch;
}

.horizontal {
  width: 100%;
  height: var(--spacing-xs);
}
