.container {
  position: sticky;
  top: var(--spacing-s);
  margin-top: var(--spacing-xxl);
  width: 100%;

  background: var(--background);

  border: var(--border);
  border-radius: var(--spacing-l);
  padding: var(--spacing-s) var(--spacing-m);

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: var(--index);
}

.menu {
  display: flex;
  gap: var(--spacing-m);
}

.section {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}
