.container {
  width: 100%;

  background: var(--background);

  border: var(--border);
  border-radius: var(--spacing-m);
  padding: var(--spacing-m);

  gap: var(--spacing-m);
}

.title {
  text-align: center;
  font-size: 18px;
}

.section {
  gap: var(--spacing-s);
}

.container,
.section {
  display: flex;
  flex-direction: column;
}
