:root {
  --color: var(--white);
}

[data-theme="dark"] {
  --color: var(--black);
}

.container {
  width: 100%;

  background: var(--content);

  border-radius: var(--spacing-m);
  padding: var(--spacing-m);

  align-items: center;
  gap: var(--spacing-m);

  transition: var(--transition);
}

.section {
  flex-direction: column;
}

.container,
.section {
  display: flex;
}

.title {
  color: var(--color);

  font-size: var(--fs-lg);
}

.description {
  color: var(--gray);
}

@media (min-width: 1025px) {
  @media (hover: hover) {
    .container:hover {
      transform: translateY(-5px);
    }
  }

  @media (hover: none) {
    .container:active {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 1024px) {
  .container {
    background: var(--background);

    padding: 0;
  }

  .title {
    color: currentColor;
  }
}
