:root {
  --color: var(--white);
}

[data-theme="dark"] {
  --color: var(--black);
}

.container {
  align-items: center;
  width: 100%;
  padding: var(--spacing-m);
  border-radius: var(--spacing-m);
  background: var(--content);
  transition: var(--transition);
  gap: var(--spacing-m);
}

.section {
  flex-direction: column;
}

.container,
.section {
  display: flex;
}

.title {
  color: var(--color);
  font-size: var(--fs-lg);
}

.description {
  color: var(--gray);
}

@media (width >= 1025px) {
  @media (hover: hover) {
    .container:hover {
      transform: translateY(var(--spacing-tr));
    }
  }

  @media (hover: none) {
    .container:active {
      transform: translateY(var(--spacing-tr));
    }
  }
}

@media (width <= 1024px) {
  .container {
    padding: 0;
    background: var(--background);
  }

  .title {
    color: currentcolor;
  }
}
