.container {
  width: 100%;
  padding: var(--spacing-m);
  border: var(--border);
  border-radius: var(--spacing-l);
  background: var(--background);
  margin-bottom: var(--spacing-xxl);
  text-align: center;
}

@media (width <= 1024px) {
  .container {
    margin-bottom: var(--spacing-l);
  }
}
