.container {
  gap: var(--spacing-m);
}

.section {
  flex-direction: column;
  gap: var(--spacing-xs);
}

.titleContainer {
  flex-wrap: wrap;
  gap: var(--spacing-s);
}

.container,
.section,
.titleContainer {
  display: flex;
}

.container,
.titleContainer {
  align-items: center;
}

.title {
  font-size: var(--fs-lg);
}

.description {
  color: var(--gray);
}
