.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--fs-xl);
}

.description {
  color: var(--gray);

  font-size: var(--fs-lg);
}

@media (max-width: 1024px) {
  .description {
    font-size: var(--fs-md);
  }
}
