.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.title {
  font-size: var(--fs-xl);
}

.description {
  color: var(--gray);

  font-size: var(--fs-lg);
}

@media (max-width: 1024px) {
  .container {
    gap: var(--spacing-xs);
  }

  .description {
    font-size: var(--fs-md);
  }
}
