@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

:root {
  /* Color */
  --white: #ffffff;
  --black: #111113;
  --gray: #959595;

  /* Spacing */
  --spacing-xs: 2px;
  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 15px;
  --spacing-xl: 20px;
  --spacing-xxl: 30px;

  /* Border */
  --border: var(--spacing-xs) solid var(--content);

  /* Font */
  --font-family: "Roboto";

  /* Font-size */
  --fs-sm: 12px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 24px;

  /* Transition */
  --transition: 200ms;

  /* Index */
  --index: 1;
}

[data-theme="dark"] {
  --content: var(--white);
  --background: var(--black);
}

[data-theme="light"] {
  --content: var(--black);
  --background: var(--white);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--content);
  background: var(--background);

  font-family: var(--font-family);

  -webkit-tap-highlight-color: transparent;
}
