@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

:root {
  /* Color */
  --white: #ffffff;
  --black: #111113;
  --gray: #959595;

  /* Spacing */
  --spacing-xs: 2px;
  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 15px;
  --spacing-xl: 20px;
  --spacing-xxl: 30px;

  /* Border */
  --border: var(--spacing-xs) solid var(--white);

  /* Font */
  --font-family: "Roboto";

  /* Font-size */
  --fs-sm: 16px; /* Forms, Buttons */
  --fs-md: 18px; /* Content, Description */
  --fs-lg: 20px; /* Section headings */
  --fs-xl: 30px; /* Big headlines */

  /* Transition */
  --transition: 200ms;
}

body {
  margin: 0;
  color: var(--white);
  background: var(--black);
  font-family: var(--font-family);
}
