.container {
  position: sticky;
  bottom: max(var(--spacing-s), env(safe-area-inset-bottom));
  margin-bottom: max(var(--spacing-l), env(safe-area-inset-bottom));
  width: 100%;

  background: var(--background);

  border: var(--border);
  border-radius: var(--spacing-l);
  padding: var(--spacing-s);
}

.menu {
  width: 100%;

  justify-content: space-between;
}

.menu,
.container,
.section {
  display: flex;
  align-items: center;
}

.container,
.section {
  gap: var(--spacing-xl);
}
