.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: var(--spacing-m);
}

.title {
  font-size: var(--fs-xl);
}

.description {
  color: var(--gray);
}
